<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Licensing" version="5.0.0" targetFramework="net46" />
  <package id="Bunifu.UI.WinForms" version="6.0.0" targetFramework="net46" />
  <package id="Bunifu.UI.WinForms.1.5.3" version="1.0.0" targetFramework="net46" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net46" />
  <package id="Fody" version="4.0.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Windows.Compatibility" version="6.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net46" />
</packages>